:host {
  display: block;
}

td .td-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.btns .mat-mdc-mini-fab {
  background-color: #0057E6;
}