<div>
    <section>
        @for (item of campos; track item) {
        <mat-checkbox [value]="item" (change)="check(item)"
            [checked]="columnas().includes(item)">{{item}}</mat-checkbox>
        }
    </section>
    <section>
        <mat-form-field appearance="outline">
            <mat-label>Buscar en tabla</mat-label>
            <input matInput type="text" (input)="ft.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Buscar en tabla">
        </mat-form-field>
        <p-table #ft [globalFilterFields]="['vehiculo','dispositivo','tarjeta','tipo']" [value]="vehiculos()"
            [columns]="columnas()" [reorderableColumns]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    @for (col of columns; track col) {
                    <th pReorderableColumn>
                        @switch (col) {
                        @case ('matricula') {Matricula}
                        @case ('dispositivo') {Dispositivo}
                        @case ('tarjeta') {Tarjeta}
                        @case ('estado') {Estado}
                        @case ('direccion') {Dirección}
                        @case ('gps') {Señal GPS}
                        @case ('gsm') {Señal GSM}
                        @case ('img') {Ubicación}
                        }
                    </th>
                    }
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-v let-columns="columns">
                <tr class="fila-tabla">
                    @for (col of columns; track col) {
                    <td class="contenido-tabla">
                        @switch (col) {
                        @case ('dispositivo') { {{v.dispositivo}} }
                        @case ('tarjeta') { {{v.tarjeta}} }
                        @case ('estado') { {{v.estado}} }
                        @case ('direccion') { {{v.direccion}} }
                        @case ('gps') { {{v.gps}} }
                        @case ('gsm') { {{v.gsm}} }
                        @case ('matricula') { {{v.vehiculo}} }
                        @case ('img'){
                        <img src="{{v.ultimaPosicion.src}}" alt="{{v.ultimaPosicion.alt}}" />}
                        }
                    </td>
                    }
                    @if(columnas().length > 0){
                    <td class="td-btns">
                        <div class="btns">
                            <button mat-mini-fab (click)="editar(v)">📝</button>
                            <button mat-mini-fab (click)="eliminarVehiculo(v)">🗑️</button>
                        </div>
                    </td>
                    }
                </tr>
            </ng-template>
        </p-table>
    </section>
</div>