<div class="home">
    <section class="historial">
        <h2>Historial de busqueda</h2>
        <ul>
            @for(item of his(); track $index){
            @if(item===''){
            <div class="btns">
                <button mat-fab extended [value]="''" #btnHistorial (click)="datosService.filtro.set('')">
                    Todos
                </button>
            </div>
            }@else{
            <div class="btns">
                <button mat-fab extended [value]="item" #btnHistorial (click)="datosService.filtro.set(item)">
                    {{item}}
                </button>
                <button mat-mini-fab (click)="borrarHistorial(item)">❌</button>
            </div>
            }

            }
        </ul>
    </section>

    <section class="tabla">
        <h1>Datos clientes</h1>
        <p-table [value]="datos()" [columns]="columns()" stripedRows [reorderableColumns]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    @for (col of columns; track col) {
                    <th pReorderableColumn>
                        @switch (col) {
                        @case ('usuario') { Usuario }
                        @case ('empresa') { Empresa <br /> CIF }
                        @case ('telefono') { Teléfono <br /> Email }
                        @case ('direccion') { Dirección }
                        @case ('comercial') { Comercial }
                        @case ('tipo') { Tipo }
                        }
                    </th>
                    }
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dato let-i="rowIndex" let-columns="columns">
                <tr>
                    @for (col of columns; track col) {
                    <td>
                        @switch (col) {
                        @case ('usuario') { {{dato.usuario}} }
                        @case ('empresa') { {{dato.empresa}} <br /> {{dato.cif}} }
                        @case ('telefono') { {{dato.telefono}} <br /> {{dato.email}} }
                        @case ('direccion') { {{dato.direccion}} }
                        @case ('comercial') { {{dato.comercial}} }
                        @case ('tipo') { {{dato.tipo}} }
                        }

                    </td>
                    }
                    <td class="grupo-btn">
                        <button mat-mini-fab class="btn-edit" (click)="editarCliente(dato)">📝</button>
                        <a routerLink="/vehiculos">
                            <button mat-mini-fab class="btn-edit" (click)="verVehiculo(dato)">🚗</button>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </section>
</div>