<section class="form-section">
    <h2 mat-dialog-title>Editar Cliente</h2>
<mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput formControlName="usuario">
            @if(isValidForm('usuario')){
                <mat-error>{{mostrarError('usuario')}}</mat-error>
            }
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <input type="text" matInput formControlName="empresa">
            @if(isValidForm('empresa')){
                <mat-error>{{mostrarError('empresa')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>CIF</mat-label>
            <input type="text" matInput formControlName="cif">
            @if(isValidForm('cif')){
                <mat-error>{{mostrarError('cif')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            @if(isValidForm('email')){
                <mat-error>{{mostrarError('email')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="number" matInput formControlName="telefono">
            @if(isValidForm('telefono')){
                <mat-error>{{mostrarError('telefono')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput formControlName="direccion">
            @if(isValidForm('direccion')){
                <mat-error>{{mostrarError('direccion')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comercial</mat-label>
            <input type="text" matInput formControlName="comercial">
            @if(isValidForm('comercial')){
                <mat-error>{{mostrarError('comercial')}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <input type="text" matInput formControlName="tipo">
            @if(isValidForm('tipo')){
                <mat-error>{{mostrarError('tipo')}}</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Guardar cambios</button>
  <button mat-button mat-dialog-close (click)="cerrar()">Cancelar</button>
</mat-dialog-actions>

</section>